// COLORS
$success-color: #55c57a;
$warning-color: #ff7730;

$light-grey: #f7f7f7;
$dark-grey: #454857;

$white-color: #fff;
$black-color: #000;

$light-blue: #157dbb;
$fb-blue: #3b5999;
$dark-blue: #225971;

// FONTS

$default-size: 1.6rem;
